:root {
    --darkBlue: hsl(233, 26%, 24%);
    --green: hsl(136, 65%, 51%);
    --cyan: hsl(192, 70%, 51%);
    --greyBlue: hsl(233, 8%, 62%);
    --lGreyBlue: hsl(220, 16%, 96%);
    --grey: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    height: 60px;
    padding: 0.5rem calc( (100vw - 1200px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar_menu {
    display: flex;
}

.navbar_link {
    color: black;
    text-decoration: none;
    padding: 0rem 1rem;
}

.navbar_link:hover {
    color: var(--red);
}

@media screen and (max-width: 668px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .navbar_link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-nav {
        display: none;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background: var(--black);
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
        display: block;
        cursor: pointer;
    }
    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}